/* Created by: Rachel Oromo
 * Created on: Sep 2020
 * This CSS file defines the style for index.html ICS2O-Unit1-04-HTML-CSS
*/

body {
  background-color: powderblue;
}

h1 {
  background-color: rgb(221, 215, 203);
  color: hsl(147, 33%, 86%);
  padding: 40px;
  text-align: center;
}

p {
  background-color: rgb(41, 38, 41);
}